<div>
    <footer>
        <div class="footerblock">

            <div id="tel" class="odnatretia">
                <!-- <div style="padding-bottom: 5px;">
                    
                    Эл. почта: <a href="mailto:leushincompany@gmail.com">leushincompany@gmail.com</a>
                </div>
                <div><a href="https://leushinandco.com/contacts/">Контакты</a></div> -->
            </div>
            <div class="odnatretia centr">
                <div>Мы в соцсетях</div>
                <ul class="social_buttons social_buttons_xsmall cleared">
                    <li><a href="http://www.twitter.com/leushincompany" class="twitter" title="Twitter"></a></li>
                    <li><a href="https://www.instagram.com/leushincompany/" class="instagram" title="Instagram"></a></li>
                    <li><a href="https://www.youtube.com/channel/UC7AgRHD2vsK0ovtttBzILTQ" class="youtube" title="Youtube"></a></li>
                </ul>
                <div>
                    © 2019 <a href="https://leushinandco.com/">Завод современной архитектуры</a>
                </div>
            </div>
        </div>
    </footer>
</div>