<div>
    <footer class="webpage">
        <div class="footerblock">

                <div class="odnatretia"> 

                        <div>
                                © 2019 <a href="https://stroyconsalt.com.ua/">Строй консалт</a>
                            </div>
                </div>
                    <div class="odnatretia centr">
                            <div>
                                    <div>Мы в соцсетях</div>
                                    <ul class="social_buttons social_buttons_xsmall cleared">
                                        <li><a href="http://www.twitter.com/leushincompany" class="twitter" title="Twitter"></a></li>
                                        <li><a href="https://www.instagram.com/leushincompany/" class="instagram" title="Instagram"></a></li>
                                        <!-- <li><a href="" class="facebook" title="Facebook"></a></li> -->
                                    </ul>
                            </div>

                    </div>
                    <div class="odnatretia right"> 
                                    <!-- <p>
                                        Сайт сделал <a href="https://leushinandco.com/">Макс Леушин</a><br>в 2019 году
                                    </p> -->
                        </div>
            </div>
    </footer>
</div>